@using eBay.Service.Core.Soap;
@model Ebay.Stoker.WebApp.Models.SellerSerchModel

@{
    ViewBag.Title = "View";
}
<h2>View</h2>

<h3>Stoker Application</h3>

<script src="~/Scripts/jquery-3.1.1.js"></script>

<div class="container">


    <form class="form-group" role="form" action="@Url.Action("Index")" method="get">
        <div class="form-group">

            <div class="row">
                <input id="daterange" name="daterange" class="date"/>
                @Html.HiddenFor(m=>m.startdate)
                @Html.HiddenFor(m => m.endDate)
            </div>
            <div class="row">

                <label class="control-label" for="sellerName">Enter Sellerid</label>
               @Html.TextBoxFor(m => m.sellerName , new { @class = "form-control" })
                 @*<input class="form-control" id="exampleInputEmail1"
                       placeholder="Sellerid" type="text">*@

            </div>
        </div>

        <button type="submit" class="btn btn-default">
            Serch
            <i class="fa fa-fw fa-search"></i>
        </button>
    </form>
</div>

 @if (Model.sellerlist != null && Model.sellerlist.Count > 0)
     {
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="media-list">
                @foreach (ItemType item in Model.sellerlist)
                {
                <li class="media">
                    <a class="pull-left" href=@item.PictureDetails.GalleryURL><img class="media-object" src=@item.PictureDetails.GalleryURL height="64" width="64"></a>
                    <div class="media-body">
                        <h4 class="media-heading"> @item.Title;</h4>
                        <p>
                           
                        </p>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>

                }



<script type="text/javascript">

$(function() {

    $('input.date').daterangepicker(
    {
        locale: {
            format: 'DD-MM-YYYY'
        },
   
    },
    function (start, end, label) {
        
        $('input[name="startdate"]').val(start.format('MM-DD-YYYY'));
        $('input[name="endDate"]').val(end.format('MM-DD-YYYY'));
    });
});
</script>